html
  head
    script(src='https://unpkg.com/qr-code-styling/lib/qr-code-styling.js')
    title= title
  body
    div(id="container")
      div(id="qr")
      h1(id="url")= link
    p(id="id_image")= image 
    p(id="id_color")= color 
    p(id="id_backgroundColor")= backgroundColor 


script.
  let url = document.getElementById("url").innerHTML
  let image = document.getElementById("id_image").innerHTML
  let color = document.getElementById("id_color").innerHTML
  let backgroundColor = document.getElementById("id_backgroundColor").innerHTML
  const qrCode = new QRCodeStyling({
    width: 400,
    height: 400,
    data: url,
    image: image,
    dotsOptions: {
      color: color,
      type: "rounded"
    },
    backgroundOptions: {
      color: backgroundColor,
    }
  });
  qrCode.append(document.getElementById("qr"));
style.
  #container{
    font-family: "Century Gothic W01",Arial;
    text-align: center;
  }
  p {
    display: none;
  }